* {
    font-family: "Verdana", "Arial", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 30px;
    color: darkblue;
    padding: 8px;
    margin: 16px;
}

h2 {
    background-color: blueviolet;
    color: white;
}

ul {
    font-weight: 1000;
    margin: 16px;
    padding: 0 8px;
}

.contents {
    display: inline-block;
    border: solid 2px black;
    padding: 8px;
    margin-right: 8px;
    background-color: #ade2e6;
}

.ingredients {
    font-weight: 500;
    color: darkblue;
}