* {
    font-family: "Verdana", "Arial", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 30px;
    color: darkblue;
    background-color: lightgreen;
}

h2 {
    background-color: blueviolet;
    color: white;
}

ul {
    font-weight: 1000;
}

.ingredients {
    font-weight: 500;
    color: darkblue;
}